.hero {
  color: white;
  position: absolute;
  top: 25%;
  left: 7%;
  font-weight: 200;
}

.hero-header {
  font-size: 4.8rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.hero-text {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

@media (max-width: 500px) {
  .hero-header {
    font-size: 2.4rem;
  }

  .hero-text {
    font-size: 1.2rem;
  }
}
