.hero-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.8)),
    url(../../img/hero.jpg);
  height: 110vh;
  background-size: cover;
  background-position: left;
  background-position-x: left;
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
  position: relative;
  z-index: 99;
}

.hero-background {
  background-color: #5aff15;
  clip-path: none;
}

@media (max-width: 500px) {
  .hero-main {
    height: 50vh;
    z-index: 0;
  }

  .hero-main::after {
    height: 50vh;
    background-color: red;
    width: 100%;
  }
}
