.testimonials img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.testimonials {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  overflow-y: hidden;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  position: relative;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  margin-bottom: 1rem;
}

.testimonial-quote {
  position: absolute;
  left: 2rem;
  color: #00b712;
  font-size: 3rem;
  top: 0;
  z-index: 9999;
}
.testimonial-quote-right {
  position: absolute;
  right: 2rem;
  color: #00b712;
  font-size: 3rem;
  top: 0;
  z-index: 9999;
}

.testimonial-card {
  width: 400px;
  display: flex;
  align-items: center;
}

.testimonial-text {
  margin-left: 2rem;
  border-bottom: 1px solid #00b712;
  padding-bottom: 0.5rem;
  width: 200px;
}

.testimonial-name {
  color: #555;
  font-size: 2rem;
}
.testimonial-job {
  color: #ccc;
}

.testimonial-content {
  margin-top: 1.2rem;
  color: #555;
  letter-spacing: 1px;
  line-height: 2rem;
}

@media (max-width: 500px) {
  .testimonials img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }
  .testimonials {
    margin: 1rem 1rem;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: hidden;
  }

  .testimonial-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: auto;
    position: relative;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  .testimonial-card {
    width: 200px;
    display: flex;
    align-items: center;
  }
}
